<div class="logo_resize"><img src="{{logo}}" class="sublogo"></div>

	<div class="column">
           <h4 class="nameclub" > <p class="teamname"> Ville : </p> <span class="info_club"> {{city}} </span> </h4>
          <h4 class="fullname" > <p class="teamname"> Nom : </p> <span class="info_club"> {{fullName}} </span> </h4>
          <h4 class="nickname" > <p class="teamname"> Surnom : </p> <span class="info_club"> {{nickname}} </span> </h4>
          <h4 class="nickname" > <p class="teamname"> Conference: </p> <span class="info_club"> {{leagues.standard.confName}} </span> </h4>
     </div>